---
import {type CollectionEntry, render} from 'astro:content';
import {getCollection} from 'astro:content';
import MarkdownLayout from '../../layouts/markdownLayout.astro';

export async function getStaticPaths() {
    const posts = await getCollection('blog');
    return posts.map(post => ({
        params: {slug: post.data.slug},
        props: {post: post},
    }));
}

const {post} = Astro.props;

const {Content} = await render(post);
---
<MarkdownLayout frontmatter={post.data}>
    <header>
        <h1>{post.data?.title}</h1>
    </header>
    <Content/>
</MarkdownLayout>
