---
import HomeLayout from "../layouts/home.astro";
import HomeStyle from '../styles/Home.module.css'

const title="✨御坂网络✨"
const baseURL = import.meta.env.BASE_URL
---
<HomeLayout pageTitle={title}>
    <div class= {HomeStyle.home}>
        <div class={HomeStyle.menu}>
            <a href={`${baseURL}blog/`}>blog</a>
            <a href={`${baseURL}dream-map/`}>dream map</a>
            <a href={`${baseURL}album/`}>album</a>
            <a href={`${baseURL}about-me/`}>about me</a>
        </div>
    </div>
</HomeLayout>