---
import BaseLayout from "./home.astro";
import Footer from "../components/Footer.astro"
import Navigation from "../components/Navigation.astro"
import {Tag} from "matewind"
import "matewind/matewind.css";
const { frontmatter } = Astro.props;
---
<style>
    article p {
        text-indent: 2rem;
    }
</style>
<BaseLayout pageTitle={"✨御坂网络-"+frontmatter.title+"✨"}>
    <div class="bg-slate-800 h-screen flex flex-col">
        <Navigation/>
        <div class="flex p-4 grow flex-row h-full overflow-hidden">
            <aside class="w-1/4 ml-4 hidden md:block min-w-[200px]">
                <div class="sticky top-4 space-y-6">
                    <div class="bg-slate-700 p-4 rounded-lg">
                        <img src="/avatar.jpg" class="w-16 h-16 rounded-full mx-auto"/>
                        <p class="text-white text-center mt-2">作者：{frontmatter.auth}</p>
                        <p class="text-white text-center mt-2">最后更新时间：{frontmatter.pubDate.toString().slice(0, 10)}</p>
                    </div>
                    <div class="bg-slate-700 p-4 rounded-lg">
                        <h3 class="text-emerald-400 mb-2">{frontmatter.title}</h3>
                        <p  class="text-white font-light mb-2">{frontmatter.description}</p>
                    </div>

                    <!-- 2. 文章目录 -->
                    <div class="bg-slate-700 p-4 rounded-lg">
                        <h3 class="text-emerald-400 mb-2">本文目录</h3>
                        <!--<TOC client:load /> -->
                    </div>

                    <!-- 3. 热门标签 -->
                    <div class="bg-slate-700 p-4 rounded-lg">
                        <h3 class="text-emerald-400 mb-2">热门标签</h3>
                        <div class="flex flex-wrap gap-2">
                            <a v-for="tag in popularTags"
                               class="px-3 py-1 bg-slate-600 rounded-full text-sm text-white hover:bg-emerald-500 transition">
                                tag
                            </a>
                        </div>
                    </div>
                </div>
            </aside>
            <main class="grow h-full overflow-auto w-3/4 px-8">
                <article class="text-white">
                    <slot />
                </article>
                <div class="tags">
                    {
                        frontmatter.tags.map((tag: string) => (
                                <Tag>
                                    <a href={`/tags/${tag}`}>{tag}</a>
                                </Tag>
                        ))
                    }
                </div>
            </main>
        </div>
        <Footer/>
    </div>
</BaseLayout>